<a href="/users/destroy">Logout</a>
<a href="/users/<%= @user.id %>">Edit My Profile</a>
<h1>Welcome, <%= @user.first_name %> </h1>
<div>
	<p>Here are some of the events at your state:</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Host</th>
			<th>Action</th>
		</tr>
	<% @events.each do |event| %>	
		<tr>
		<th><a href="/events/<%= event.id %>"><%= event.name%></a></th>
		<th><%= event.date %></th>
		<th><%= event.location %></th>
		<th><%= event.user.first_name %></th>
		
	<% if event.user.id != session[:user_id] %>	
	<% if event.attendees.find_by(user: session[:user_id], event: event.id) %>
	<th><a rel="nofollow" href="/attendess/<%= event.id %>" data-method="delete">Cancel</a></th>
		<% else %>
		<th><a rel="nofollow" href="/attendess/<%= event.id %>" data-method="post">Join</a></th>
	<% end %>	
	<% end %>
		<% if event.user.id == session[:user_id] %>
		<th><a href="#">Edit</a></th>
		<th><a href="#">Delete</a></th>
		<%end %>
		</tr>
	<% end  %>	

	</table>
</div>


<div>
	<p>Here are some events on other states:</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Host</th>
		
			<th>Action</th>
		</tr>	
	<% @other_events.each do |other| %>	
		<tr>
		<th><a href="/events/<%= other.id %>"><%= other.name%></a></th>
		<th><%= other.date %></th>
		<th><%= other.location %></th>
		<th><%= other.user.first_name %></th>

	<% if other.user.id != @user.id %>	
	<% if other.attendees.find_by(user: @user.id, event: other.id) %>
		<th><a rel="nofollow" href="/attendess/<%= other.id %>" data-method="delete">Cancel</a></th>
		<%else %>
		<th><a rel="nofollow" href="/attendess/<%= other.id %>" data-method="post">Join</a></th>
	<% end %>	
	<% end %>
		<% if other.user.id == @user.id %>
		<th><a href="#">Edit</a></th>
		<th><a href="#">Delete</a></th>
		<%end %>
		</tr>
	<% end  %>		
	</table>
</div>



<div>
	<h1>Add Event</h1>
	<form action="/events/create" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<label>
		Name: <input type="text" name="name">
		</label><br>
		<label>
		Date: <input type="text" name="date">
		</label><br>
		<label>
			Location: <input type="text" name="location">
		</label><br>
		<input type="submit" name="Add Event">
	</form>
</div>
